// ============================================================================
// Newsletter
// ============================================================================

.newsletter {
    background-color: $bg-accent;
    padding: 4em 0;

    &__description {
        margin-bottom: 0;
        color: $white;
        font-size: pxToRem(20px);
        font-weight: 600;

        @include media-breakpoint-up(lg) {
            font-size: pxToRem(30px);
        }
    }
}