// ============================================================================
// Footer
// ============================================================================

.main-footer {
    padding: 2em;

    p {
        margin-bottom: 0;
        color: $text-grey;
        font-size: pxToRem(14px);
    }
}