// ============================================================================
// Main Header
// ============================================================================

.main-navbar {
    @include media-breakpoint-up(sm) {
        padding: 0 2em;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__brand {
        color: $black;
        font-weight: 600;
        font-size: pxToRem(28px);

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $black;
        }

        @include media-breakpoint-up(lg) {
            font-size: pxToRem(35px);
        }
    }

    &__toggle {
        border: 0;
        background-color: transparent;
        outline: none;
        border: 0;
        background-image: none;
        text-align: center;
        white-space: nowrap;
        touch-action: manipulation;
        user-select: none;
        padding: 0;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            outline: 0;
        }

        & .icon {
            position: relative;
            margin-top: 8px;
            margin-bottom: 8px;

            &,
            &:before,
            &:after {
                display: block;
                width: 24px;
                height: 3px;
                transition: background-color 0.3s linear, transform 0.3s linear;
                background-color: $bg-accent;
            }

            &:before,
            &:after {
                position: absolute;
                content: "";
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }

        &.-active > .icon {
            background-color: transparent;

            &:before {
                transform: translateY(8px) rotate(45deg);
            }

            &:after {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    &__list {
        display: none;
        transform: translateX(-100%);

        @include media-breakpoint-up(lg) {
            display: block;
            transform: initial;
        }

        &.-on {
            display: block;
            position: fixed;
            top: 80px;
            background-color: $white;
            width: 100%;
            z-index: 100;
            left: 0;
            padding: 3em 15px;
            height: 100%;
            animation: slide-in 0.5s forwards;

            @include media-breakpoint-up(sm) {
                width: 300px;
                padding: 0 3em;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
        
        ul {
            margin: 0;
            list-style: none;

            @include media-breakpoint-up(lg) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        li {
            margin: 0;
            padding: 0.5em 0;

            @include media-breakpoint-up(lg) {
                margin: 0 20px;
            }

            a {
                color: $text-grey;
                
                @include media-breakpoint-up(lg) {
                    position: relative;
                }

                &::after {
                    @include media-breakpoint-up(lg) {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 50%;
                        top: 59px;
                        position: absolute;
                        background: $bg-accent;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }
                }


                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $text-lgrey-1;

                    &::after {
                        @include media-breakpoint-up(lg) {
                            width: 100%; 
                            left: 0;
                            top: 59px;
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0;

                a {
                    color: $text-accent;
                    border: 0.13rem solid $border-accent;
                    border-radius: 3px;
                    font-weight: 600;
                    padding: 0.5em 2em;

                    &::after {
                        content: none;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $bg-accent;
                        color: $white;
                    }
                }
            }
        }
    }
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}