// ============================================================================
// Helpers
// ============================================================================

.content-centered {
    @include media-breakpoint-up(lg) {
        min-height: 450px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.no-underline {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.img-centered {
    display: block;
    margin: 0 auto;
}